@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  @apply bg-[#fbfbfb]
}

.darkMode {
  @apply bg-[#323548] text-white;
}

.lightMode {
  @apply bg-[#fbfbfb] text-gray-600
}

.darkHam {
  @apply bg-white
}

.lightHam {
  @apply bg-gray-700
}